---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
This site is a dashboard (DEMO) that uses public APIs to analyze BS/PL from multiple angles.
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Financial-BSPL-Dashboard-DEMO on the Netlify Platform</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="./bs-board" class="btn btn-lg sm:min-w-64">BS-Board</a>
        <a href="./pl-board" class="btn btn-lg sm:min-w-64">PL-Board</a>
    </p>
</Layout>
